div {
  display: inline-block;
}

div a {
  color: blue;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

div a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

div a:hover{
  background-color: #ddd;
}

div a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

div a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
